.App {
  text-align: center;
}
h2{
  font-size: 50px;
  font-weight: 300;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.quotes{
  display: grid;
  border: thin solid gainsboro;
  margin: 40px 200px;
}
.name{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 5px;
}
.image{
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 15px;
  margin-left: 10px;
}
.image img{
  border-radius: 5px;
  height: 100px;
  width: 100px;
}
h4 {
  font-weight: 400;
  text-decoration: underline;
}
h3 {
  font-weight: 500;
}
p{
  font-style: italic;
  color: rgb(80, 80, 80);
}